body {
  background-color:burlywood;
}

.card {
  margin-bottom: 20px;
}

textarea {
  resize: vertical;
}

.comment-box {
  margin-top: 10px;
}

.input-group button {
  font-size: 1.2rem;
}
.comment-btn {
  background-color: #28a745;
  color: white;
  border: none;
}
.comment-btn:hover {
  background-color: #218838;
}
.custom-navbar {
  background-color:burlywood; /* Màu nền xanh lá cây nhạt */
  border-radius: 8px;
}

/* Chữ mặc định màu đen, khi hover thì sáng lên */
.navbar-nav .nav-link {
  color: #212529; /* Màu đen Bootstrap mặc định */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: grey; /* Màu xanh lá cây sáng khi hover */
}


